@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

/* box-sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/*remove list style on ul, ol */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.4;
}

/* A elements that don't have a class get defaut */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove all animations, transitions and smooth */
@media (prefers-reduced-motion: reduce) {
  htmo:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
    --color60: hsl(236, 100%, 13%);
    --color30: hsl(0, 0%, 0%);
    --color10: hsl(287, 89%, 38%);
    --fonte: 'Rubik', Arial, sans-serif;
    --fw500: 500;
}

/* inicio */

body {
    background-color: var(--color60);
    font-family: var(--fonte);
}

h1 {
    color: white;
    text-align: center;
}


/* utility */

.gridbox {
    display: grid;
}

.spacegrid {
    gap: 2em;
}

.flexbox {
    display: flex;
}

.spaceflex {
    justify-content: space-between;
}

.centerflex {
    align-items: center;
} 

/* boxes */

.modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0, 0.3);
    position: fixed;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: o;
    height: 100vh;
    width: 100vw;
}

.modal-container.show {
    pointer-events: auto;
    opacity: 1;
}


.modal {
    background-color: var(--color60);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5%;
    padding: 80px 40px;
    width: 400px;
    max-width: 100%;
}

/* custom */

form > button {
    border: none;
    background-color: var(--color10);
    border-radius: 16px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
}

form > button:hover {
    background-color: var(--color10);
    cursor: pointer;
}

.plus > button {
    border: none;
    border-radius: 2px;
    margin: 4em;
    font-weight: var(--fw500);
}

.plus > button:hover {
    background-color: var(--color10);
    cursor: pointer;
}

#card {
    color: white;
}

header {
    height: 4em;
}

.data {
    font-family: var(--fonte);
    font-weight: bold;
    color: white;
    margin: 4em;
}

